<%= "Transporter id: " + @transporter.id.to_s %>

<%= form_for @delivery, url: delivery_path, id: @transporter.id do |f| %>
  <% if @delivery.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@delivery.errors.count, "error") %> prohibited this delivery from being saved:</h2>

      <ul>
      <% @delivery.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="input-group">
    <%= f.label :current_price, "Current price per liter" %><br>
    <span class="input-group-addon">Rwf</span>
    <%= f.text_field :current_price, class: "form-control" %>
  </div>
  <br>
  
  <%= f.label :amount_accepted %><br>
  <div class="input-group">
    <%= f.text_field :amount_accepted, class: "form-control" %>
    <span class="input-group-addon">Liters</span>
  </div>
  
  <br>
  
  <%= f.label :amount_rejected %><br>
  <div class="input-group">
    <%= f.text_field :amount_rejected, class: "form-control" %>
    <span class="input-group-addon">Liters</span>
  </div>
  
  <br>
  
  <div class="form-group">
    <%= f.label :comments %><br>
    <%= f.text_area :comments, class: "form-control" %>
  </div>
  <div class="actions">
    <%= f.submit @delivery.new_record? ? "Add delivery" : "Edit delivery", class: 'btn btn-success' %>
  </div>
<% end %>
