<h1>Listing deliveries</h1>

<table class="table table-striped pagination-centered">
  <thead>
    <tr>
      <th>Transporter</th>
      <th>Price</th>
      <th>Amount accepted</th>
      <th>Amount rejected</th>
      <th>Comments</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @deliveries.each do |delivery| %>
      <tr>
        <td><%= link_to delivery.transporter.name, transporter_path(id: delivery.transporter.id), {class: "btn btn-link"} %></td>
        <td><%= delivery.current_price %></td>
        <td><%= delivery.amount_accepted %></td>
        <td><%= delivery.amount_rejected %></td>
        <td><%= delivery.comments %></td>
        <td>
			<div class="btn-group">
				<%= link_to 'Show', delivery, {class: "btn btn-default"} %>
				<%= link_to 'Edit', edit_delivery_path(delivery), {class: "btn btn-default"} %>
				<%= link_to 'Destroy', delivery, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-default" %>
			</div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
