<% if notice.present? %>
<div id="notice" class="alert alert-success">
	<button type="button" class="close" data-dismiss="alert">X</button>
	<%= notice %>
</div> <!-- flash message -->
<% end %>

<%= render 'layouts/buttons' %>

<div class="row panel panel-default" id="deliveries-list">
  <div class="col-md-12 panel-body">
	<dl class="dl-horizontal">
		<dt>Transporter name:</dt>
		<dd><%= link_to @delivery.transporter.name, transporter_path(id: @delivery.transporter.id), {class: "btn btn-link"} %></dd>
		
		<dt>Delivery id:</dt>
		<dd><%= @delivery.id %></dd>
		
		<dt>Date:</dt>
		<dd><%= @delivery.created_at.strftime("%d %b. %Y") %></dd>
		
		<dt>Time:</dt>
		<dd><%= @delivery.created_at.strftime("%H:%M") %></dd>
		
		<dt>Price per liter:</dt>
		<dd><%= @delivery.current_price %></dd>
		
		<dt>Amount accepted:</dt>
		<dd><%= @delivery.amount_accepted %></dd>
		
		<dt>Amount rejected:</dt>
		<dd><%= @delivery.amount_rejected %></dd>
		
		<dt>Comments:</dt>
		<dd><%= @delivery.comments %></dd>
		
	</dl>

	<div class="row">
		<div class="col-xs-12">
			<%= link_to 'Edit', edit_delivery_path(@delivery), {class: "btn btn-default btn-block"} %>
		</div>
	</div>
</div><!-- /.col-md-12 -->
</div><!-- /.row -->
