<div class="row">
<div class="span4 offset4">
<%= form_for @transporter, :id => "transporterForm" do |f| %>
  <% if @transporter.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@transporter.errors.count, "error") %> prohibited this transporter from being saved:</h2>

      <ul>
      <% @transporter.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="control-group" id="nameContain">
    <%= f.label :name, :class => "label" %><br>
	<div class="controls">
		<%= f.text_field :name, :class => "input-xlarge", :id => "nameField" %>
		<span class="help-inline" id="nameMsg"></span>
	</div>
</div>
  
<div class="control-group" id="phoneContain">
	<%= f.label :phone, :class => "label" %><br>
	<div class="controls">
		<%= f.text_field :phone, :class => "input-xlarge", :id => "phoneField" %>
		<span class="help-inline" id="phoneMsg"></span>
  </div>
</div>
  
  <div class="control-group" id="idContain">
    <%= f.label :id_number, :class => "label" %><br>
    <div class="controls">
		<%= f.text_field :id_number, :class => "input-xlarge", :id => "idField" %>
		<span class="help-inline" id="idMsg"></span>
	</div>
 </div>
  
  <div class="actions">
    <%= f.submit 'Add/Edit transporter...', id: "submit-btn", class: 'btn btn-success' %>
  </div>
<% end %>
</div>
</div>
