<div class="row">
<div class="span4 offset4">
<%= form_for @transporter, role: "form", id: "transporterForm" do |f| %>
  <% if @transporter.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@transporter.errors.count, "error") %> prohibited this transporter from being saved:</h2>

      <ul>
      <% @transporter.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="form-group" id="nameContain">
    <%= f.label :name %><br>

	<%= f.text_field :name, :class => "form-control", :id => "nameField" %>
	<span class="help-inline" id="nameMsg"></span>
</div>
  
<div class="form-group" id="phoneContain">
	<%= f.label :phone %>(Optional)<br>
	<%= f.text_field :phone, :class => "form-control", :id => "phoneField" %>
	<span class="help-inline" id="phoneMsg"></span>
</div>
  
  <div class="form-group" id="idContain">
    <%= f.label :id_number %>(Optional)<br>
	<%= f.text_field :id_number, :class => "form-control", :id => "idField" %>
	<span class="help-inline" id="idMsg"></span>
 </div>
  
  <div class="actions">
    <%= f.submit 'Add/Edit transporter...', id: "submit-btn", class: 'btn btn-success' %>
  </div>
<% end %>
</div>
</div>
