<div class="row">
	<div class="col-md-6">
		<p class="lead"><%= pluralize(@transporters_count, 'transporter') %></h3>
	</div>
	<div class="col-md-2">
		<%= link_to 'New Transporter', new_transporter_path, class: "btn btn-success btn-block" %>
	</div>
	<div class="col-md-2">
		<%= link_to "All Transporters", transporters_path, class: "btn btn-default btn-block" %>
  </div>
	<div class="col-md-2">
		<%= link_to "All Deliveries", deliveries_path, class: "btn btn-info btn-block" %>
  </div>
</div>

<% if !@transporters.blank? %>

<<<<<<< HEAD
<div class="row visible-xs" id="transporter-list">
  <div class="col-md-12">
    <ul class="list-group">
	    <% @transporters.each do |transporter| %>
		    <li class="list-group-item">
          <h5 class="list-group-item-heading"><%= transporter.name %></h5>
		      <%= link_to transporter do %>
			      <btn class="btn btn-primary btn-block">View details</btn>
		      <% end %>
		      <%= link_to 'Add delivery', new_delivery_path(id: transporter.id), {class: "btn btn-default btn-block", id: "addDeliveryBtn"} %>
		    </li>
	    <% end %>
    </ul>
  </div>
</div>
=======
<ul class="list-group visible-xs">
	
	<% @transporters.each do |transporter| %>
		<li class="list-group-item">
		<div class="row">
			<div class="col-xs-8">
			<%= link_to transporter, {class: "btn btn-link"} do %>
				<h4 class="list-group-item-heading"><%= transporter.name %></h4>
			<% end %>
			</div>
			<div class="col-xs-4">
			<%= link_to 'Add delivery', new_delivery_path(id: transporter.id), {class: "btn btn-default pull-right", id: "addDeliveryBtn"} %>
			</div>
				</div>
		</li>
	<% end %>

</ul>
>>>>>>> mobile

<table class="table table-striped table-hover table-responsive pagination-centered hidden-xs">

  <thead>
    <tr>
      <th>Name</th>
      <th>Phone</th>
      <th>Id</th>
      <th>Show transporter</th>
      <th>Add delivery</th>
    </tr>
  </thead>

  <tbody>
    <% @transporters.each do |transporter| %>
      <tr>
        <td>
        <span class="glyphicon glyphicon-user"></span>
        <%= link_to transporter.name, transporter, {class: "btn btn-link"} %><%= link_to '(edit)', edit_transporter_path(id: transporter.id), {class: "btn btn-link"} %></td>
        <td>
        <span class="glyphicon glyphicon-earphone"></span>
        <%= transporter.phone %></td>
        <td>
        <span class="glyphicon glyphicon-globe"></span>
        <%= transporter.id_number %></td>
        <td><%= link_to 'Details', transporter, {class: "btn btn-default"} %></td>
        <td><%= link_to 'Add delivery', new_delivery_path(id: transporter.id), {class: "btn btn-default", id: "addDeliveryBtn"} %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
<% else %>
	<p>There are no transporters in the database</p>
	<%= link_to 'Add one!', new_transporter_path, {class: "btn btn-default"} %>
<% end %>

<%= paginate @transporters %>


