<div class="container">
<header class="span8">
<h1 align="center">Listing transporters</h1>
<%= paginate @transporters %>
<%= link_to 'New Transporter', new_transporter_path, {class: "btn"} %>
</header>
<% if !@transporters.blank? %>
<p>Showing <%=  @transporters.length %> transporters </p>
<table class="table table-striped pagination-centered" >

  <thead>
    <tr>
      <th>Name</th>
      <th>Phone</th>
      <th>Id</th>
      <th>Details</th>
      <th>Add delivery</th>
    </tr>
  </thead>

  <tbody>
    <% @transporters.each do |transporter| %>
      <tr>
        <td><%= transporter.name %></td>
        <td><%= transporter.phone %></td>
        <td><%= transporter.id_number %></td>
        <td><%= link_to 'Details', transporter, {class: "btn"} %></td>
        <td><%= link_to 'Add delivery', new_delivery_path(:id => transporter.id), :class => "btn", :id => "addDeliveryBtn" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
<h5>foo</h5>
<% else %>
	<p>There are no transporters in the database</p>
	<%= link_to 'Add one!', new_transporter_path, {class: "btn"} %>
<% end %>
</div>
