<h1>Listing transporters</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Phone</th>
      <th>Id</th>
      <th>Show</th>
      <th>Edit</th>
      <th>Delete</th>
      <th>List Deliveries</th>
    </tr>
  </thead>

  <tbody>
    <% @transporters.each do |transporter| %>
      <tr>
        <td><%= transporter.name %></td>
        <td><%= transporter.phone %></td>
        <td><%= transporter.id %></td>
        <td><%= link_to 'Show', transporter %></td>
        <td><%= link_to 'Edit', edit_transporter_path(transporter) %></td>
        <td><%= link_to 'Delete', transporter, method: :delete, data: { confirm: 'Are you sure?' } %></td>
		<td>List deliveries</td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Transporter', new_transporter_path, class: "btn" %>
