<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @transporter.name %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @transporter.phone %>
</p>

<p>
  <strong>National ID number:</strong>
  <%= @transporter.id_number %>
</p>

<%= link_to 'Edit', edit_transporter_path(@transporter) %> |
<%= link_to 'Back', transporters_path %>

<h2>Deliveries</h2>

<table>
<thead>
	<tr>
		<th>Deivery ID</th>
		<th>Amount accepted</th>
		<th>Amount rejected</th>
		<th>Comments</th>
	</tr>
</thead>
<tbody>
<%= @transporter.name %>
<% @transporter.deliveries.each do |delivery| %>
	<tr>
		<td><%= delivery.id %></td>
		<td><%= delivery.amount_accepted %></td>
		<td><%= delivery.amount_rejected %></td>
		<td><%= delivery.comments %></td>
	</tr>
<% end %>
</tbody>
</table>


