<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @transporter.name %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @transporter.phone %>
</p>

<p>
  <strong>National ID number:</strong>
  <%= @transporter.id_number %>
</p>

<%= link_to 'Edit', edit_transporter_path(@transporter) %> |
<%= link_to 'Back', transporters_path %>

<h2><%= #@transporter.name>'s deliveries</h2>
<p><%= #@transporter.name> has <%= @transporter.deliveries.size %> deliveries</p>
<%= #@transporter.deliveries %>

<div class="span8">
    <% if @transporter.deliveries.any? %>
      <h3>Deliveries (<%= @transporter.deliveries.count %>)</h3>
      <ol class="deliveries">
        <%= render @deliveries %>
      </ol>
    <% end %>
  </div>
