<p id="notice"><%= notice %></p>

<!-- Analytics -->		
<h4><i> <%= @transporter.name %> has delivered <%= @transporter.deliveries.sum("amount_accepted") %> liters so far. <%= @transporter.deliveries.sum("amount_rejected") %> of them have been rejected.<br>

<% @transporter.deliveries.each do |summary| %>
His last delivery last from <%= distance_of_time_in_words(summary.updated_at, Time.now) %>

 <% end %>
</i></h4>
<!-- End analytics -->

<%= link_to 'All transporters', transporters_path, {class: "btn btn-default"} %>
<%= link_to 'Edit', edit_transporter_path(@transporter), {class: "btn btn-default"} %>


<div class="row">
	<div class="col-md-4" id="transporterDetails">
		<h2><%= @transporter.name %>'s details</h2>
		<p>
			<strong>Name:</strong>
			<%= @transporter.name %>
		</p>

		<p>
			<strong>Phone:</strong>
			<%= @transporter.phone %>
		</p>

		<p>
			<strong>National ID number:</strong>
			<%= @transporter.id_number %>
		</p>
	</div><!-- #transporterDetails -->

	<div class="col-md-8" id="deliveriesTable">
		<h3><%= @transporter.name %>'s deliveries</h3>
		<% if !@transporter.deliveries.blank? %>
			<%= link_to 'Add delivery', new_delivery_path(:id => @transporter.id), :class => "btn btn-default addDelivery" %>
			
			<table class="table table-striped table-bordered">
				<thead>
					<tr>
						<th>Deivery ID</th>
						<th>Amount accepted</th>
						<th>Amount rejected</th>
						<th>Comments</th>
					</tr>
				</thead>
				<tbody>
					<% @transporter.deliveries.each do |delivery| %>
						<tr>
							<td><%= delivery.id %></td>
							<td><%= delivery.amount_accepted %></td>
							<td><%= delivery.amount_rejected %></td>
							<td><%= delivery.comments %></td>
						</tr>
					<% end %>
				</tbody>
			</table>
		<% else %>
			<p>This transporter hasn't delivered any milk yet</p>
			<%= link_to 'Add delivery', new_delivery_path(:id => @transporter.id), :class => "btn btn-default addDelivery" %>
		<% end %>
	</div><!-- #deliveriesTable -->
</div><!-- .row -->
