<% if notice.present? %>
<div id="notice" class="alert alert-success">
	<button type="button" class="close" data-dismiss="alert">X</button>
	<%= notice %>
</div> <!-- flash message -->
<% end %>
<%= link_to 'All transporters', transporters_path, {class: "btn btn-default"} %>



<div class="row">
	<div class="col-md-3" id="transporterDetails">
	<div class="row">
		<div class="col-md-12">
				<h2><%= @transporter.name %>'s details</h2>
				<%= link_to '(edit)', edit_transporter_path(@transporter), {class: "btn btn-link"} %>
		</div>
	</div>
		<p>
			<strong>Name:</strong>
			<%= @transporter.name %>
		</p>

		<p>
			<strong>Phone:</strong>
			<%= @transporter.phone %>
		</p>

		<p>
			<strong>National ID number:</strong>
			<%= @transporter.id_number %>
		</p>
		
	</div><!-- #transporterDetails -->

	<div class="col-md-9" id="deliveriesTable">
		<div class="row">
			<div class="col-md-9">
				<p class="lead"><%= @transporter.name %>'s deliveries</p>
			</div>
			<div class="text-left col-md-3">
				<%= link_to 'Add delivery', new_delivery_path(id: @transporter.id), {class: "btn btn-success pull-right addDelivery"} %>
			</div>
		</div>
		<% if !@transporter.deliveries.blank? %>
			<div class="row">
				<div class="col-md-8 col-md-offset-2">
				<div class="col-md-4">
					<h1 class="text-center"><%= @transporter.deliveries.length %></h1>
					<p class="text-center"><strong>deliveries</strong></p>
				</div>
				<div class="col-md-4">
					<h1 class="text-center"><%= @transporter.deliveries.sum("amount_accepted") %></h1>
					<p class="text-center"><strong>Liters accepted</strong></p>
				</div>
				<div class="col-md-4">
					<h1 class="text-center"><%= @transporter.deliveries.sum("amount_rejected") %></h1>
					<p class="text-center"><strong>Liters rejected</strong></p>
				</div>
				</div>
			</div><!-- analytics -->
		
			<table class="table table-striped table-bordered">
				<thead>
					<tr>
						<th>Deivery ID</th>
						<th>Delivery date</th>
						<th>Amount accepted</th>
						<th>Amount rejected</th>
						<th>Comments</th>
					</tr>
				</thead>
				<tbody>
					<% @transporter.deliveries.each do |delivery| %>
						<tr>
							<td><%= delivery.id %></td>
							<td><%= delivery.created_at.strftime("%d %b. %Y %H:%M") %></td>
							<td><%= delivery.amount_accepted %></td>
							<td><%= delivery.amount_rejected %></td>
							<td><%= delivery.comments %></td>
						</tr>
					<% end %>
				</tbody>
			</table>
		<% else %>
			<p>This transporter hasn't delivered any milk yet</p>
			<%= link_to 'Add delivery', new_delivery_path(:id => @transporter.id), :class => "btn btn-default addDelivery" %>
		<% end %>
	</div><!-- #deliveriesTable -->
</div><!-- .row -->
